APP_CONFIG__DB__URL=postgresql+asyncpg://user:password@localhost:5432/database
APP_CONFIG__DB__ECHO=1
APP_CONFIG__S3__ACCESS_KEY=your_access_key
APP_CONFIG__S3__SECRET_KEY=your_secret_key
APP_CONFIG__S3__BUCKET_NAME=user_media
APP_CONFIG__S3__ENDPOINT_URL=s3_storage_url_like_http://localhost:9000
APP_CONFIG__S3__ENDPOINT_URL_UPLOAD=http://127.0.0.1:9000
MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=password
PG_DB=database
PG_USER=user
PG_PASSWORD=password
APP_HOST=0.0.0.0
APP_PORT=8000